#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config.template 2.16 2013/01/12 13:50:17 kls Exp $

### The C compiler and options:

CC       = gcc
CFLAGS   = -g -O3 -Wall

CXX      = g++
CXXFLAGS = -g -O3 -Wall -Werror=overloaded-virtual -Wno-parentheses

# Use 'make M32=1 ...' to build a 32-bit version of VDR on a 64-bit machine:
ifdef M32
CFLAGS   += -m32
CXXFLAGS += -m32
endif

### The directory environment:

# Default directories (adjust as necessary or desired):

DVBDIR    = /usr/local/src/media_build_experimental/linux/include/uapi
PREFIX    = /usr
#BINDIR    = $(PREFIX)/bin
#INCDIR    = $(PREFIX)/include
#LIBDIR    = $(PREFIX)/lib/vdr
#LOCDIR    = $(PREFIX)/share/locale
#MANDIR    = $(PREFIX)/share/man
#PCDIR     = $(PREFIX)/lib/pkgconfig
#RESDIR    = $(PREFIX)/share/vdr

#VIDEODIR  = /srv/vdr/video
#CONFDIR   = /var/lib/vdr
#CACHEDIR  = /var/cache/vdr

# Overrides for preset/legacy configurations:

# Use 'make LCLBLD=1' to build locale and plugin files under the source directory:
LCLBLD=1
ifdef LCLBLD
LOCDIR       = $(CWD)/locale
PLUGINDIR    = $(CWD)/PLUGINS
ifndef PLUGIN # don't overwrite for plugins with old makefiles
LIBDIR       = $(PLUGINDIR)/lib
endif
HDRDIR       = $(CWD)/include
endif

# Use 'make ONEDIR=1' to have all data in one single directory:
ONEDIR=1
ifdef ONEDIR
VIDEODIR     = /video
CACHEDIR     = /etc/vdr
CONFDIR      = /etc/vdr
RESDIR       = /etc/vdr
endif

# Use this if you want to have a central place where you configure compile time
# parameters for plugins:
#PLGCFG = $(CONFDIR)/plugins.conf

### The remote control:

LIRC_DEVICE = /var/run/lirc/lircd
RCU_DEVICE  = /dev/ttyS1
REMOTE      = LIRC
#REMOTE      = RCU

## This is fallen appart from the one and only righteous way to build Plugins
## DEFINITIONS for old/wrong/unholy/bad Makefiles, which were known to work
## this way with g2v - adapted from helaus last extpng for 1.7.32
## BEGIN

FFMDIR     = /usr/include
LIBAVCODEC = $(FFMDIR)/libavcodec
LIBFFMPEG  = $(FFMDIR)

HAVE_VORBISFILE = 1
HAVE_FLAC       = 1
HAVE_SNDFILE    = 1
HAVE_SQLITE     = 1

DFB_CFLAGS = -I/usr/include/dfb++ -I/usr/include/directfb

##burn
DVDDEV    = /dev/sr0
ISODIR    = /iso
EMMPLAYER = 1

##skinenigma
SKINENIGMA_USE_PLUGIN_EPGSEARCH = 1
#SKINENIGMA_USE_PLUGIN_MAILBOX = 1

##xine
#VDR_XINE_SET_VIDEO_WINDOW = 1
VDR_XINE_FIFO_DIR = /tmp/vdr-xine

##xine-liboutput
XINELIBOUTPUT_CONFIGURE_OPTS += --enable-vdr --enable-x11 --disable-fb --enable-libxine

##skinenigmang skinelchi
HAVE_IMAGEMAGICK = 1

##text2skin
DEVELOPMENT_FEATURES = 1

## extrecmenu: use vdr cutter
EXTRECMENU_USE_VDR_CUTTER = 1

##epgsearch: lange subtitles
PLUGIN_EPGSEARCH_MAX_SUBTITLE_LENGTH = 255
## END


### Define if you want vdr to not run as root:
#VDR_USER = vdr

### Fallback for plugins with old makefiles:
ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
endif

## This is fallen appart from the one and only righteous way to build Plugins
## BEGIN
#remove Comment to get Debug information
GDB_DEBUG = 1
ifdef GDB_DEBUG
CFLAGS   += -g -ggdb -O0
CXXFLAGS += -ggdb -O0
LDFLAGS  += -g -ggdb -O0
endif

#handle Options and INCLUDES for alternate DVBDIR
ifdef DVBDIR
CFLAGS   +=  -D__user= -D__u8=uint8_t
CXXFLAGS +=  -D__user= -D__u8=uint8_t
ifdef PLUGIN
INCLUDES += -I$(DVBDIR)
endif
endif
# END
